<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<p><%= image_tag @article.image.url(:medium) %></p>

<%= render partial: 'articles/comment', collection: @article.comments,
  locals: { color: "#CF0CF0" } %>

<%= render partial: 'articles/comment_form' %>

<%= link_to "Edit", edit_article_path(@article) %>
<%= link_to "Delete", article_path(@article), method: :delete %>
<%= link_to "Articles Home", articles_path %>
